.docs-content > h2[id]::before,
.docs-content > h3[id]::before,
.docs-content > h4[id]::before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  content: "";
}

.anchor {
  visibility: hidden;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
  text-decoration: none;
}

.card-list {
  margin-top: 2.25rem;
}

.page-footer-meta {
  margin-top: 3rem;
}

.edit-page,
.last-modified {
  font-size: $font-size-sm;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

@include media-breakpoint-up(md) {
  .edit-page,
  .last-modified {
    font-size: $font-size-base;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
  }
}

.edit-page svg,
.last-modified svg {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

p.meta {
  margin-top: 0.5rem;
  font-size: $font-size-base;
}

.breadcrumb {
  margin-top: 2.25rem;
  font-size: $font-size-base;
}

.page-link:hover {
  text-decoration: none;
}

@media (max-width: 1000px) {
  .col-lg-14 .col-lg-8 {
    float: unset !important;
  }

  .col-lg-14 .col-lg-7, .glow.rainbow {
    margin-top: 36px;
    margin-bottom: 80px;
    float: unset !important;

    width: calc(100% + var(--bs-gutter-x) * 2);
    transform: translateX(calc(var(--bs-gutter-x) * -1));
  }
}

@media (max-width: 600px) {
  nav > .nav-link {
    display: none !important;
  }

  .nav {
    flex-direction: row !important;
  }

  .nav-link {
    padding-right: 0.5rem;
  }

  nav {
    --bs-gutter-x: 24px !important;
  }

  .alert {
    font-size: 0.9rem;
  }

  .container-fluid .container {
    --bs-gutter-x: 24px;
  }
}

@media (min-width: 600px) {
  nav > .nav:nth-last-child(2) > :last-child {
    display: none;
  }
}

body {
  padding-right: 0 !important;
}

.home nav hr {
  display: none;
}

/* .home .offcanvas-body .flex-grow-1 {
  position: absolute !important;
  top: 1.5rem;
  right: 1.5rem;
}

.offcanvas-body > .nav-link {
  margin: 14px 0 0 0 !important;
}

.offcanvas-body > .nav:nth-last-child(2) {
  justify-content: end;
  height: calc(100vh - 61px - 100px - 32px - 3rem - 32px);
} */

.nav-link small {
  display: none !important;
}

h2 small {
  font-size: 0.7em;
}

nav .position-relative, .nav:nth-last-child(2) {
  position: relative;
  top: -2px;
}

h1 > code, h2 > code, h3 > code, h4 > code {
  font-size: unset;
  font-weight: unset;
}
