.icon-chrome, .icon-firefox, .icon-experimental {
  --size: 16px;
  background-color: currentColor;
  vertical-align: top;
  display: inline-block;
  height: var(--size);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  width: var(--size);
}

.icon-chrome {
  -webkit-mask-image: url(/chrome.svg);
  mask-image: url(/chrome.svg);
}
.icon-firefox {
  -webkit-mask-image: url(/firefox.svg);
  mask-image: url(/firefox.svg);
}
.icon-experimental {
  -webkit-mask-image: url(/experimental.svg);
  mask-image: url(/experimental.svg);
}

body a.docs-link {
  width: 90%;
}

body a.docs-link .icon-box {
  height: 24px;
  padding: 4px;
  float: right;
  margin-right: 6px;
  border-radius: 6px;
  background: rgba(95, 135, 255, 0.37);
  color: #1d2d35 !important;
}

[data-dark-mode] body a.docs-link .icon-box {
  color: #dee2e6 !important;
}

body a.docs-link .icon-box.gray {
  background: rgba(120, 130, 140, 0.37);
}
