.navbar-form {
  position: relative;
}

#suggestions {
  position: absolute;
  right: 0;
  width: calc(100vw - 3rem);
  max-width: calc(400px - 3rem);
  z-index: $zindex-dropdown;

  @include media-breakpoint-up(md) {
    right: -2rem;
  }

  @include media-breakpoint-up(lg) {
    right: 0;
  }

  background: #1b1f22;
}

#suggestions a,
.suggestion__no-results {
  padding: 0.75rem 1.25rem;
}

#suggestions a {
  display: block;
  text-decoration: none;
}

#suggestions a:focus {
  background: $gray-100;
  outline: 0;
}

#suggestions div:not(:first-child) {
  border-top: 1px solid #404448;
}

#suggestions div:first-child {
  margin-top: 0.5rem;
}

#suggestions div:hover {
  background: #202428;
}

#suggestions span {
  display: flex;
  font-size: $font-size-base;
}

.suggestion__title {
  font-weight: $headings-font-weight;
  color: #fff;
}

.suggestion__parent {
  font-weight: 500;
  color: #a0a4a8;
  font-size: 0.9em !important;
  flex-shrink: 0;
  align-self: center;
}

.suggestion__description {
  flex-grow: 1;
}

.suggestion__parent::after {
  margin: 0 0.2rem;
  content: ">";
}

.suggestion__description,
.suggestion__no-results {
  color: #dee2e6;
}

@include media-breakpoint-up(lg) {
  #suggestions {
    width: 40rem;
    max-width: 40rem;
  }

  #suggestions a {
    display: flex;
  }

  .suggestion__title {
    width: 14rem;
    display: inline-block;
  }
}
