/*

Based on Ascetic by (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  background: $beige;
  color: $body-color;
}

[data-dark-mode] body .hljs {
  background: $body-overlay-dark;
  color: $body-color-dark;
}
